* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --brand-color: #2196f3;
  --main-color: #212121;
  --background-gray-color: #2f303a;
  --main-gray-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --light-color: #f5f4fa;
  --projects-color: #eeeeee;
  --lightgray-color: #afb1b8;
  --shadow-portfolio1: rgba(0, 0, 0, 0.12);
  --shadow-portfolio2: rgba(0, 0, 0, 0.06);
  --shadow-portfolio3: rgba(0, 0, 0, 0.16);
  --newsletter-color: rgba(255, 255, 255, 0.6);
  --border-color: rgba(33, 33, 33, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 94px 0;
}

/* header-styles */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

/*logo*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo-studio-black {
  color: var(--black-color);
}

.logo-studio-white {
  color: var(--white-color);
}

/*navigation*/

.navigation,
.contacts-header {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.15;
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

.link-contact {
  color: var(--main-gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu {
  justify-content: space-between;
}

.navigation {
  gap: 46px;
}

.link,
.link-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active {
  color: var(--brand-color);
  position: relative;
}

.link-active::after {
  content: '';
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  position: absolute;
  top: 45px;
}

/*header contacts*/
.link:hover,
.link:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--brand-color);
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.menu-nav:last-child {
  margin-right: 0px;
}

.menu-nav {
  fill: currentColor;
  margin-left: -22px;
}

.icon-email {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.icon-phone {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 10px;
}

/*hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url('../images/Img-underlay.jpg');
  background-size: 1600px 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  text-align: center;
  padding-left: 252px;
  padding-right: 252px;
}

.header-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.button-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  cursor: pointer;
  width: 200px;
  min-height: 50px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
  background: var(--white-color);
  color: var(--brand-color);
}

/*features*/

.features-list .features-list-item {
  list-style: none;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-gray-color);
  margin-top: 10px;
}

.features-list {
  display: flex;
}

.features-list-item {
  display: inline-block;
  margin-right: 20px;
}

.features-list-item:last-child {
  margin-right: 0px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-icon {
  padding: 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/*about-us*/

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.about-us-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.about-us-list:last-child {
  margin-right: 0;
}

.about-us {
  text-align: center;
}

.our-work {
  margin-top: -94px;
}

.about-us-list li {
  position: relative;
}

.about-us-list-img {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  top: 224px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*our-team*/

.team-people {
  list-style-type: none;
  margin-left: -15px;
}

.team-people .programmers {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-people .programmers-team {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-gray-color);
  letter-spacing: 0.03em;
}

.team-people .team-photos {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0px;
}

.social-media-icons {
  fill: var(--lightgray-color);
  display: block;
}

.social-media-links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icons:hover {
  fill: var(--white-color);
  background-color: var(--brand-color);
  border-radius: 50%;
}

.team-social-media {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-people {
  display: flex;
  gap: 30px;
  text-align: center;
}

.team-photos {
  margin-bottom: 30px;
}

.team-people-photos:last-child {
  margin-right: 0px;
}

.programmers-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.programmers-team {
  padding-bottom: 30px;
}

.programmers {
  margin-bottom: 10px;
}

/* our customers */

.customers {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  fill: var(--lightgray-color);
  margin-left: -27px;
  cursor: pointer;
}

.customers-item:hover,
.customers-item:focus {
  border: 1px solid var(--brand-color);
  fill: var(--brand-color);
  border-radius: 4px;
}

.customers-item {
  border: 1px solid var(--lightgray-color);
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/
.contacts {
  background-color: var(--background-gray-color);
}

.link-footer {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  display: block;
  margin-bottom: 9px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  cursor: pointer;
}

.links-footer {
  list-style-type: none;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 70px;
}

.footer-social-media {
  align-items: center;
  margin-top: -12px;
  margin-left: 12px;
}

.footer-social-header {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-social-media-list {
  list-style-type: none;
  gap: 10px;
  margin-top: 20px;
  display: flex;
}

.footer-social-media-icon {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.footer-social-media-icon:hover {
  background-color: var(--brand-color);
}

/*portfolio*/

.buttons-main {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-bottom: 50px;
}

.buttons-main .button-list {
  background: var(--light-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
}

.buttons-main .button-list:hover,
.buttons-main .button-list:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-images-box {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.portfolio-images-box:hover .portfolio-images-overlay {
  transform: translateX(0);
}

.portfolio-images-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images-overlay > p {
  color: var(--white-color);
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.portfolio-projects-item:hover .portfolio-images-overlay,
.portfolio-projects-item:focus .portfolio-images-overlay {
  transform: translateY(0);
}

/*projects*/

.portfolio-projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  gap: 30px;
}

.portfolio-projects-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-images:hover,
.portfolio-images:focus {
  box-shadow: 0px 1px 1px var(--shadow-portfolio1),
    0px 4px 4px var(--shadow-portfolio2), 1px 4px 6px var(--shadow-portfolio3);
  cursor: pointer;
}

.portfolio-projects .project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-projects .project-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-gray-color);
}

.portfolio-projects-item .portfolio-images img {
  display: block;
}

.portfolio-projects-item .portfolio-description {
  padding: 20px 24px;
  border: 1px solid var(--projects-color);
}

/* modal window + backdrop */

.modal {
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transform: translateX(-50%) translateY(-50%) scale(1) skew(0deg, 0deg);
  opacity: 1;
  visibility: visible;
  display: block;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.button-modal-close {
  width: 30px;
  height: 30px;
  color: var(--black-color);
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--white-color);
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transform: scale(1);
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* newsletter */

.newsletter-box {
  position: absolute;
  margin-left: 610px;
  margin-top: -12px;
}

.newsletter-box-portfolio {
  position: absolute;
  margin-left: 285px;
  margin-top: -105px;
}

.newsletter-email-box {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--background-gray-color);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-email-box::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-top: -40px;
}

.button-form {
  display: flex;
  text-align: center;
  align-items: center;
  background: var(--brand-color);
  width: 200px;
  height: 50px;
  padding: 10px 27px 10px 42px;
  margin-left: 12px;
  gap: 24px;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-icon {
  fill: var(--white-color);
}

/* personal-data-form */

.personal-data-label {
  position: relative;
  margin-bottom: 4px;
  left: -212px;
  color: var(--main-gray-color);
}

.personal-data-phone {
  margin-left: 16px;
}

.personal-data-email {
  margin-left: 8px;
}

.personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: -10px;
}

.personal-data-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 40px;
}

.form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-icons {
  position: relative;
  top: -25px;
  left: -202px;
  display: flex;
  transform: translateY(-50%);
}

.input-label {
  display: flex;
  outline: none;
  width: 448px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 4px;
  padding-left: 42px;
}

.input text {
  padding-left: 15px;
}

.personal-data-comment {
  color: var(--main-gray-color);
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 0px;
}

.personal-data-andotations {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.personal-data-andotations::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.personal-data .input-label:focus {
  border: 1px solid var(--brand-color);
}

.personal-data-andotations:focus {
  border: 1px solid var(--brand-color);
}

.personal-data:focus-within {
  fill: var(--brand-color);
}

/* checkbox styles */

.personal-data-checkbox {
  display: flex;
  margin-top: 18px;
}

.checkbox-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-gray-color);
  letter-spacing: 0.03em;
  position: absolute;
  left: 70px;
  top: 447px;
}

.agreement-link {
  color: var(--brand-color);
}

.checkbox-button {
  background: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  left: 160px;
  top: 500px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  opacity: 0;
}

.checkbox-icon {
  border: 2px solid var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  margin-top: 7px;
  position: absolute;
  left: 52px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-input:checked + .checkbox-icon {
  background: var(--brand-color);
  outline: none;
  border: none;
}

.checkbox-icon-active {
  fill: var(--white-color);
}
